body {
  padding: 2%;
}
#list {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.buttons {
  display: flex;
  justify-content: center;
}
table td {
  border: 1px solid;
  padding: 5px 10px;
}

input[type="button"] {
  margin: 10px;
}
